$colorWhite: rgb(255,255,255);
$colorScrollerGrey: rgb(219,219,219);
$colorLightGrey: rgb(227,227,227);
$colorDarkerGrey: rgb(200,200,200);
$colorDarkerGreyTransparent: rgba(200,200,200, 0.6);
$colorTmdbDarkBlue: rgb(3,37,65);
$colorTmdbLightBlue: rgb(1,180,228);
$colorTmdbLighterGreen: rgb(192,254,207);
$colorTmdbLightGreen: rgb(30,213,169);
$colorTmdbLogoGreen: rgb(144,206,161);
$colorTmdbLogoOrange: rgb(253,193,112);
$colorTmdbLogoRed: rgb(217,59,99);
$colorAccountSilver: rgb(149,149,149);
$colorAccountPink: rgb(234,20,140);
$colorAccountPurple: rgb(128,91,231);
$colorAccountGreen: rgb(1,210,119);
$colorAccountTeal: rgb(1,198,172);
$colorAccountLightBlue: rgb(1,180,228);
$colorAccountBlue: rgb(1,119,210);
$colorAccountOrange: rgb(210,119,1);
$colorAccountYellow: rgb(210,144,1);
$colorAccountRed: rgb(212,2,66);
