.base-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    background-color: $colorTmdbDarkBlue;
    height: 64px;

    &-brand {
        font-size: 28px;
        font-weight: 900;
        background: linear-gradient(to right, $colorTmdbLightGreen 0%, $colorTmdbLightBlue 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-seacrh {
        &-icon {
            font-size: 20px;
            color: $colorTmdbLightBlue;

            &:hover {
                cursor: pointer;
            }
        }

        &-bar {
            position: absolute;
            width: 100%;
            background: $colorWhite;
            z-index: 1;

            &-filter {
                display: flex;
                justify-content: space-between;
                padding: 12px 20px;

                @media (max-width: 425px) {
                    flex-direction: column;
                }

                &-keywords {
                    margin-right: 20px;
                    flex: 1;
                    padding: 6px;
                    border-radius: 6px;
                    border: 1px solid $colorLightGrey;
                    color: $colorTmdbDarkBlue;

                    &:focus {
                        outline: none;
                    }

                    @media (max-width: 425px) {
                        margin-bottom: 8px;
                        margin-right: 0;
                        width: auto;
                    }
                }

                &-date {
                    width: 160px;
                    border-radius: 6px;
                    border: 1px solid $colorLightGrey;
                    color: $colorTmdbDarkBlue;

                    &:focus {
                        outline: none;
                    }

                    @media (max-width: 425px) {
                        padding: 6px;
                        width: 100%;
                    }
                }
            }

            &-result {
                display: flex;
                flex-direction: column;
                padding: 12px 20px;
                border-top: 1px solid $colorLightGrey;
                box-shadow: 0px 1px 4px rgba(105, 125, 140, 0.3);

                a {
                    text-decoration: none;
                    margin-bottom: 8px;
                    color: $colorTmdbDarkBlue;

                    &:hover {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
